@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Serif+Makasar&family=Poppins&display=swap'); */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* images zoom hover */
.a_img:hover{
  transform: scale(1.1);
}

/* this is the slide style */
.slideshow-container {
  margin: 0 auto; /* Center the container horizontally */
  overflow: hidden;
  white-space: nowrap;
}

.slideshow-wrapper {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.slideshow-item {
  display: inline-block;
  margin-right: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}
/* this is the end of slide style */

/* card image hover */
/* .card:hover .product-image {
  transform: translate(-1.5rem, -7rem) rotate(-5deg);
} */
/* end of card image hover */

@media (max-width: 768px) {
  .hidden-on-small-screen {
    display: none;
  }
  .colls{
    background-color: white;
  }
}





